/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/* ここまでは書式のリセット */

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 80px;
	margin-right: 80px;
}

.logout{
	text-decoration: none;
	font-weight:bold;
	font-size: 16px;
	font-family: 游ゴシック体;
	color: #566270;
	display: inline-block;
	transition:.3s;
	}

.logout:hover{
		font-weight:bold;
		color: #fff !important;/*ホバー時の文字色*/
		background-color: #566270;/*背景色*/
	}


a.header_post_link {
	display: flex;
    justify-content: space-between;
    align-items: center;
	text-align: center;
	text-decoration: none;
	width: 120px;
	padding: 1rem 4rem;
    margin-left: 30px;
	font-weight: bold;
	background: #eee;
	color: #566270;
	border-radius: 100vh;
	position: relative;
	transition: 0.5s;
}
a.header_post_link::before {
	content: '';
	position: absolute;
	top: calc(50% - 2px);
	right: 1em;
	transform: translateY(calc(-50% - 2px)) rotate(45deg);
	width: 10px;
	height: 1px;
	background: #4e4449;
}
a.header_post_link::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	transform: translateY(-50%);
	width: 50px;
	height: 1px;
	background-color: #4e4449;
}
a.header_post_link:hover {
	background: #4e4449 50%;
	color: #4e4449;
}

body{
	margin: 0 auto;
}

.box{
    width: 1000px;
    margin: 0 auto;
	text-align: center;
}

img{
	text-align: center;
    display: block;
    width: 300px;
}


h1 {
	font-family: "游ゴシック体";
	position: relative;
	text-align: center;
	background-color: #fff;
	padding-bottom: 15px;
	padding-top: 15px;
	border-top: #566270 solid 1px;
	border-bottom: #566270 solid 1px;
	margin-bottom: 15px;
}

h2{
	font-family: "游ゴシック体";
	font-size: 14px;
	color: #566270;
	text-align: center;
}

p{
	font-family: "游ゴシック体";
	font-size: 16px;
	color: #566270;
	text-align: center;
}

img.fixedicon{
	display: block;
    position:fixed;
	width: 48px;
    bottom:60px;
    right:60px;
    cursor: pointer;
    transition: .3s;
}

img.fixedicon:hover {
    transform: scale(1.1);
}


.btn {
	border: 1px solid #566270;
	border-radius: 5px;
	background: #fff;
}

table {
	font-family: ”游ゴシック体”;
	font-size: 14px;
	margin: 0 auto;
}
td {
	padding: 14px;
	font-weight: normal;
	text-align: left;
	border-bottom: 1px solid #566270;
}

th {
	vertical-align: top;
	padding: 14px;
	font-weight: normal;
	text-align: left;
	border-bottom: 1px solid #E0E3DA;
}
td span {
	font-size: 90%;
}

